@model ContactModel
@{
    ViewData["Title"] = "Confirmação de exclusão do contato";
}

<div class="text-center">
    <h3>Realmente deseja apagar o contato (@Model.Name)?</h3>
    <a class="btn btn-primary btn-block" role="button" asp-controller="Contact" asp-action="Index">Cancelar exclusão</a>
    <a class="btn btn-danger btn-block" role="button" asp-controller="Contact" asp-action="Delete" asp-route-id="@Model.Id">Confirmar exclusão</a>
</div>