@{
    ViewData["Title"] = "Confirmação de exclusão do contato";
}

<div class="text-center">
    <h3>Realmente deseja apagar o contato (Vinicius Recoaro)?</h3>
    <a class="btn btn-primary btn-block" role="button" asp-controller="Contact" asp-action="Index">Cancelar exclusão</a>
    <a class="btn btn-danger btn-block" role="button" asp-controller="Contact" asp-action="Delete">Confirmar exclusão</a>
</div>